!*.gitignore
tmp
.DS_Store
*.log
*.bak
.*.swp
.*.swo
*.pid
emacs.d/loaddefs.el*
emacs.d/backups/*
emacs.d/auto-save-list
emacs.d/custom.el
emacs.d/*elc
emacs.d/places
emacs.d/url/cookies
emacs.d/url
emacs.d/elpa
emacs.d/elpa-to-submit/jabber/jabber.info
emacs.d/elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
emacs.d/thumbs/*
emacs.d/oddmuse/*
emacs.d/.newsrc-dribble
emacs.d/.nnmail-cache
emacs.d//#.newsrc-dribble#
emacs.d/.svn
emacs.d/.DS_Store
emacs.d/image-dired/
emacs.d/elim/
emacs.d/elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
emacs.d/session*
emacs.d/tramp
emacs.d/\#*
emacs.d/history
emacs.d/.smex-items
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

